/* .footer {
    width: 100%;
    padding: 2rem;
    background-color: #005f73; /* Ocean-themed background color */
    /* color: #ffffff; */
    /* font-family: 'Poppins', sans-serif; */
/* }  */

.footer {
    width: 100%;
    padding: 2rem;
    background-image: url('/src/components/navbar/Turtle-Header-Image.jpg'); /* Update with the correct path to the image */
    background-size: cover; /* Ensures the image covers the entire footer */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    color: #fc0303;
    font-family: 'Poppins', sans-serif;
}

.footer .container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.footer .top {
    text-align: center;
}

.footer h3 {
    font-size: 2rem;
    color: #ff13f0;
    margin-bottom: 0.5rem;
}

.footer p {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    line-height: 1.5;
    font-weight: bold;
    color: black /* Softer white text for readability */
}

.footer .social {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 1rem;
}

.footer .icon {
    font-size: 1.5rem;
    color: #fc0303;
    transition: color 0.3s ease, transform 0.3s ease;
}

.footer .icon:hover {
    color: black; /* Lighter ocean teal */
    transform: scale(1.2);
}

.footer .bottom {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;
}

.footer .links, .legal, .contact {
    flex: 1;
}

.footer h4 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    color: black;
    font-weight: bold;
}

.footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
    line-height: 2;
}

.footer li {
    font-size: 1rem;
    color: #ff13f0;
    cursor: pointer;
    transition: color 0.3s ease;
    font-weight: bold;
}

.footer li:hover {
    color: ghostwhite;
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    .footer .bottom {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    .footer .links, .legal, .contact {
        text-align: center;
    }
}
